@import "../../styles/utils.scss";

$beige: #d9e5d6;
$blue: #00a7e1;
$cream: #eddea4;
$salmon: #f7a072;
$orange: #ff9b42;

.container {
  background-color: $beige;
  composes: container from global;
}

.row {
  background-color: $cream;
  composes: row from global;

  > div {
    background-color: $blue;
    border: 1px black solid;
    color: white;
  }
}

.mqTest {
  @include respond-below(sm) {
    color: red;
  }

  @include respond-above(md) {
    color: green;
  }

  @include respond-between(lg, xl) {
    color: rgb(255, 192, 203);
  }
}
